%h1 Haikus
%div{ng_controller: "HaikuCtrl"}
  %form
    %input{ng_model: "newHaiku.text", type: "text"}
  %h4
    {{newHaiku.text}}
  %h2 Previous Entries
  %well{ng_repeat: "entry in entries"}
    %div
      {{entry.text}}

%br/
