%h1 Haiku Helper
%div{ng_controller: "HaikuCtrl"}
  %form{ng_init: "haikuIndex", ng_submit: "haikuCreate()"}
    %input{ng_model: "newHaiku.content", type: "text"}
    %input{type: "submit", value: "Add"}
  %h4
    {{newHaiku.content}}
  %h2 Past Entries
  .well{ng_repeat: "haiku in haikus"}
    {{haiku.content}}

%br/
